<div class="center jumbotron">
  <h1>Welcome to the E_learning app</h1>

  <h2>
    This is the home page of E_learning - Project from framgia. Use 
    <a href="http://www.railstutorial.org/">Ruby on Rails </a> to do this project
  </h2>
  
</div>
<img alt="Rails logo" src="/assets/rails.png" />