<% @user ||= current_user %>
<div class="stats">
  <a href= "">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= link_to t("relationship.following"), relationships_path(id: @user.id, type: "following") %>
  </a>
  <a href="">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= link_to t("relationship.followers"), relationships_path(id: @user.id, type: "followers") %>
  </a>
</div>
